/*---configuraciones generales---*/

body {
  background-image: url(./images/photo-1618005182384-a83a8bd57fbe.avif);
  background-size: cover;
  background-repeat: repeat;
  object-fit: contain;
  height: 100vh;
}

.App {
  display: flex;
}

.user__form {
  background-color: white;
  height: 100vh;

  top: 0;
  left: 0;
  padding: 10px;
}

.user {
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 10px;
  display: flex;
  margin: 30px 0;
  text-align: center;
}
.users-list {
  height: 100vh;
  margin-left: 450px;
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/*--configuraciones tarjetas---*/
.name {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
  text-align: left;
}

.email {
  color: rgb(0 0 0 /0.8);
  margin-bottom: 10px;
}

.birthday {
  align-items: center;
  display: flex;
  margin-top: 5px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  margin-left: 30px;
}
li {
  list-style: none;
}

/*---configuraciones botones---*/
.btn-delete {
  margin-right: 20px;
  background-color: red;
  border: none;
  border-radius: 5px;
}

.btn-edit {
  background-color: blue;
  border: none;
  border-radius: 5px;
}

.buttons__inputs {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.button-upload {
  background: lightseagreen;
  border: none;
  border-radius: 5px;
  color: white;
}

/*---configuracion informacion tarjetas---*/
.input__birthday {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
input {
  border: none;
}

.input__first-name {
  display: flex;
}

.input__email {
  display: flex;
}
.input__password {
  display: flex;
}

.input__birthday {
  display: flex;
  flex-direction: row;
}

/*---configuracion mediaqueries---*/
@media (min-width: 375px) {
  .App {
    display: flex;
    align-content: center;
    vertical-align: middle;
    flex-direction: column;
  }

  .user__form {
    background-color: white;
    height: 24vh;
    top: 15px;
    left: calc(5vh / 2);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 0 2px black;
    text-align: center;
  }

  .users-list {
    margin-left: -40px;
  }

  .user {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    margin: 15px;
    text-align: center;
  }
}

@media (min-width: 475px) {
  .user__form {
    background-color: white;
    height: 24vh;
    top: 15px;
    left: calc(5vh / 2);
    padding: 22px;
    border-radius: 20px;
    box-shadow: 0 0 0 2px black;
    text-align: center;
    width: 350px;
    margin-left: 30px;
  }
}

@media (min-width: 575px) {
  .user__form {
    background-color: white;
    height: 24vh;
    top: 15px;
    left: calc(5vh / 2);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 0 2px black;
    text-align: center;
    width: 350px;
    margin-left: 100px;
    margin-top: 50px;
  }
  .user {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    margin: 48px;
    text-align: center;
  }
}
